body{
  padding:0;
  margin:0;

}
.heading{
  text-align: center;
}
.heading1
{
  color:grey;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 0;;
}
.heading2
{
  color:black;
  font-size:30px;
  font-weight: bold;
  margin-top:10px;
  margin-bottom: 0;
}
.heading-text
{
  color:grey;
}
.main-container
{
  display: flex;
  justify-content: center;
  margin-top:50px;
  
}
.left-container,.right-container
{
  display: flex;
  align-items: center;
  
}
.middle-container
{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  

}
.box-text
{
  margin-left:20px;
}
.box-image
{
  display:flex;
  justify-content: flex-end;
}
.box-image{
  margin-right:20px;
}
.middle-container-box-up
{
  margin-bottom: 20px;
}
.left-container-box,
.middle-container-box-up,
.middle-container-box-bottom,
.right-container-box
{
  border: 1px solid #ccc;
  border-radius: 5px;
  
  width:300px;
  height:200px;

}
.left-container-box
{
  box-shadow:0px -3px 1px rgb(98, 185, 183);
}
.middle-container-box-up
{
  box-shadow:0px -3px 1px rgb(219, 74, 74);
}
.middle-container-box-bottom
{
  box-shadow:0px -3px 1px rgb(230, 189, 26);
}
.right-container-box
{
  box-shadow:0px -3px 1px rgb(80, 118, 200);
}


